<h1>Did you wanted a: </h1>
<%= @cocktail.name %>
<% @cocktail.doses.each do |dose| %>
<a><%= dose.description %> : <%= dose.ingredient.name %></a>
<% end %>

<%= link_to 'Cocktails', cocktails_path %>
<%= link_to 'Add doses', new_cocktail_dose_path(@cocktail) %>
<%# simple form avec liste des ingredients a ajouter %>
<%# @cocktail.dose.ingredient
@cocktail.dose.description => 3cl de... %>